body{
  padding: 10px;
  margin: 10px;
  /* background-color: aqua; */
}

.container {
    background-color: rgb(222, 210, 159);
}

.Card {
  background-color: 'white';
  margin-top: 10px;
  padding: 10px;
}

.InterCards{
  margin-top: 10px;
}

#Onecard {
  margin-top: 10px;
  background-color: rgb(244, 240, 241);
  border-radius: 10px;
  padding: 10px;
}